@import "tailwindcss";

    @layer base {
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
      }
    }
.body{
  max-height: 100vh;

}



.form label{
  margin-top: 20px;
}
.course{
  margin-top: 20px;
}

.addNew:hover{
  color: black;
}
.NoData{
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0px;
  margin-top: 0px;
}
.NoData p{
  font-weight: 700;
}

.container{
  max-width: 1200px;
  margin: 0px auto;
}