
.body{
  max-height: 100vh;
  width: 100vw;
}
.form{
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.submitBtn{
  background-color: #3776db;
  margin-top: 20px
}

.form label{
  margin-top: 20px;
}
.course{
  margin-top: 20px;
}
.addNew{
  background-color: #3776db;
  color: white;
  height: fit-content;
  width: fit-content;
  padding: 12px;
  border-radius: 5px;
}
.addNew:hover{
  color: black;
}
.NoData{
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0px;
  margin-top: 0px;
}
.NoData p{
  font-weight: 700;
}
.Data{
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0px;
  margin-top: 0px;
}
.Data p{
  font-weight: 700;
  font-size: larger;
}