@import "tailwindcss";

    @layer base {
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
      }
    }




.form label{
  margin-top: 20px;
}
.course{
  margin-top: 20px;
}

.addNew:hover{
  color: black;
}


.container{
  max-width: 1200px;
  margin: 0px auto;
}